.game-dashboard {
    container-type: inline-size;
    display: grid;
    gap: 1rem;
    min-block-size: 100vh;
    padding: 1rem;
    padding-block-end: 100vh;
    background: #111;
    color: white;

    h2 {
        margin: 0;
        text-align: center;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    caption { scroll-margin-block-start: 1rem }

    @media (min-width: 60rem) {
        justify-items: center;
        gap: 2rem;
        padding: 2rem;
    }
}
