:is(.navigation, .help) {
    @container (min-width: 40rem) {
        border: 1px solid dimgray;
        border-radius: var(--operator-radius);

        ul {
            gap: 1px;

            li { box-shadow: 0 0 0 1px dimgray }
        }
    }
}
