.census__order {
    display: grid;
    gap: 0.5rem;
    margin: 0;
    padding-inline-start: 2rem;
    text-align: start;

    li {
        border-inline-start: 0.25rem solid var(--player-color, dimgray);
        padding-inline-start: 0.5rem;

        &:has(small) { color: var(--advance-civic) }
        b { text-transform: capitalize }
    }
}
