.control-board .controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .shop-link {
        --ground: var(--operator-accent);
        border-color: var(--operator-accent);

        &:hover { background: hsl(from var(--operator-accent) h s calc(l - 10)) }
    }
}
