.panel {
    border: 1px solid var(--ink-primary);
    border-radius: 0.75rem;
    --ground: white;
    background: white;

    &:where(:not(details)) {
        display: grid;
        gap: 0.75rem;
        padding: 1rem;
    }

    summary {
        padding: 1rem;
        cursor: pointer;
    }

    &:open summary { border-block-end: 1px solid var(--operator-border) }

    &:open::details-content {
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }

    &.dark {
        --ground: inherit;
        border-color: dimgray;
        background: none;
    }
}
