.panel {
    border: 1px solid var(--operator-border);
    border-radius: var(--operator-radius);
    background: white;

    > summary {
        padding: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    &:open > summary { border-block-end: 1px solid var(--operator-border) }

    &:open::details-content {
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }

    &.dark {
        border-color: dimgray;
        background: none;
    }
}
