.score-board {
    inline-size: 100%;
    border-collapse: collapse;

    caption {
        caption-side: top;
        margin-block-end: 0.75rem;
        color: darkgray;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    th, td {
        padding: 0.5em;
        border-block-end: 1px solid dimgray;
    }

    thead th {
        border-block-end-width: 2px;
        writing-mode: sideways-lr;
        color: darkgray;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: end;
    }

    td:not([data-name], [data-empire]) { text-align: center }
    td[data-empire] { color: var(--player-color, dimgray) }
    tbody tr:nth-child(even) { background: rgb(255 255 255 / 0.05) }

    @container (width < 60rem) {
        tr > :first-child { display: none }
        th[data-empire] { visibility: hidden }
    }

    @container (min-width: 60rem) {
        inline-size: auto;
        font-size: 1.25rem;

        th, td { padding: 0.75em 1.5em }

        thead th {
            writing-mode: horizontal-tb;
            font-size: 0.7em;
        }
    }
}
