.score-board {
    border-collapse: collapse;
    font-size: clamp(1.125rem, 1vw + 0.875rem, 1.5rem);

    & caption {
        caption-side: top;
        margin-block-end: 0.75rem;
        color: darkgray;
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    & th, & td {
        padding: clamp(0.5em, 1vw, 1em) clamp(1em, 2vw, 2em);
        border-block-end: 1px solid dimgray;
        text-align: start;
    }

    & td[data-empire] {
        color: var(--player-color, dimgray);
    }

    & td[data-scored] {
        color: goldenrod;
    }

    th {
        border-block-end-width: 2px;
        color: darkgray;
        font-size: 0.7em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    tbody tr:nth-child(even) { background: rgb(255 255 255 / 0.05) }
}
