.game-chronicle {
    > section > h2 { display: none }

    @media (min-width: 60rem) {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        align-content: start;
        justify-items: center;
        gap: 1rem;
        block-size: auto;
        min-block-size: 100vh;
        overflow: visible;
        padding: 1rem;

        > section {
            overflow: visible;
            overscroll-behavior-y: auto;

            > h2 { display: revert }
        }
    }
}

body:has(> footer [value="ast"]:checked) .game-chronicle :is(#panel-evolution, #panel-nav),
body:has(> footer [value="evolution"]:checked) .game-chronicle :is(#panel-ast, #panel-nav),
body:has(> footer [value="nav"]:checked) .game-chronicle :is(#panel-ast, #panel-evolution) { display: none }

@media (min-width: 60rem) { body:has(> footer [value]:checked) .game-chronicle :is(#panel-ast, #panel-evolution, #panel-nav) { display: contents } }
