.shop {
    display: grid;
    max-inline-size: 75rem;
    gap: var(--operator-gap);

    > div {
        display: grid;
        align-items: start;
        gap: var(--operator-gap);

        @media (min-width: 48em) { grid-template-columns: minmax(0, 1fr) minmax(16rem, 20rem) }
    }

    aside {
        order: -1;
        display: grid;
        gap: var(--operator-gap);

        @media (min-width: 48em) {
            order: 0;
            position: sticky;
            inset-block-start: 1rem;
        }
    }
}
