.tab {
    --tab-border: 1px solid var(--operator-border);
    --tab-shadow: 0 2px 4px hsl(0 0% 0% / 0.2);

    summary {
        order: 1;
        flex: 1 0 auto;
        border: var(--tab-border);
        border-block-end: none;
        border-radius: var(--operator-radius) var(--operator-radius) 0 0;
        padding: 0.5em 1.25em;
        background: var(--player-color, dimgray);
        list-style: none;
        text-align: center;
        font-weight: var(--weight-answer);
        color: white;
        color: oklch(from var(--player-color, dimgray) clamp(0, (0.85 - l) * 100, 1) 0 0);
        cursor: pointer;
        user-select: none;

        &::-webkit-details-marker { display: none }
    }

    &:open summary { box-shadow: var(--tab-shadow) }
    &:not(:open)::details-content { display: none }

    &::details-content {
        order: 2;
        box-sizing: border-box;
        flex: 1 0 100%;
        border: var(--tab-border);
        border-radius: 0 var(--operator-radius) var(--operator-radius) var(--operator-radius);
        box-shadow: var(--tab-shadow);
        display: grid;
        gap: 1rem;
        padding: 1.5rem;
        background: var(--operator-bg-subtle);
    }
}
