.catalog {
    --grid-min-col-size: 14rem;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;

    > .label {
        grid-column: 1 / -1;
        border-block-end: 1px solid var(--operator-border);
        padding-block-end: 0.5rem;
    }
}
